nav {
    background-color: #000b82;
    padding: .5rem;
}

nav ul {
    list-style: none;
    align-items: center;
}

nav ul li {
    display: inline;
    align-items: center;
}

nav ul li a {
    padding: 3rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    color: white;
    
}

nav ul li a:hover {
    background-color: #030a55;
    transition-duration: .5s;
}