#secret-box {
    background-color: white;
    color: white;
    text-align: center;
    max-width: 10%;
    margin: auto;
    cursor: pointer;
    padding: .25rem;
    border-radius: 10px;
    transition-duration: .25s;
}